.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched {
  border-color: #ff688f;
}

input.ng-valid{
  border-color: #7dff94;
  background: #dcffe7 !important;
}

button {
  margin: 10px 0;
}
